            /************************************/
            /*                                  */
            /* -------- Sitewide styles ------- */
            /*                                  */
            /************************************/

/* ---------- general styles ------------ */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #4d4d4d;
}

body a {
    color: #000;
    font-weight: 700;
    text-decoration: none !important;
}

@media(hover: hover) and (pointer: fine) {
    body a:hover {
        color: #8f897e;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 5px 0;
}

ul {
    list-style-type: none;
}

/* dropdown menu toggle buttons */

.menu-toggle-btn {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* to counter default Bootstrap button behaviour */
.menu-toggle-btn:focus:not(:focus-visible) {
    outline: none;
}

@media(hover: hover) and (pointer: fine) {
    .menu-toggle-btn:hover {
        color: #8f897e;
    }
}

.menu-toggle-btn span {
    transition: all 0.25s;
}

.menu-icon {
    width: 30px;
    margin-right: 10px;
    padding: 4px 0;
}

.menu-icon span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #4d4d4d;
    display: block;
}

.menu-icon span:nth-of-type(2) {
    margin: 5px 0;
}

.menu-btn-text {
    font-size: 1.25rem;
    padding-top: 5px;
}

.menu-toggle-btn-active .menu-icon span:nth-of-type(2) {
    display: none;
}

.menu-toggle-btn-active .menu-icon span:nth-of-type(1) {
    transform: translateY(2px) rotate(45deg);
}

.menu-toggle-btn-active .menu-icon span:nth-of-type(3) {
    transform: translateY(-2px) rotate(-45deg);
}

.toggle-btn {
    background: transparent;
    color: #4d4d4d;
    cursor: pointer;
}

/* general buttons */

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-blugrey {
    color: #fff;
    background-color: #222f63;
    border-color: #222f63;
}

@media(hover: hover) and (pointer: fine) {
    .btn-blugrey:hover {
        color: #8f897e;
    }
}

.btn-blugrey:focus {
    border: 2px solid #fff;
}

.link-btn {
    background: transparent;
    text-decoration: underline;
}

.btn-wide-fit {
    width: auto !important;
}

.top-link {
    width: auto;
}

/* ------------ main header ----------- */

#main-header {
    background-color: #fff;
    height: 140px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;

    display: flex;
    justify-content: center;
}

#main-header a {
    color: #4d4d4d;
}

@media(hover: hover) and (pointer: fine) {
    #main-header a:hover {
        color: #8f897e;
        text-decoration: none !important;
    }
}

/* header logo */

#header-logo {
    height: 140px;
    margin-left: 20px;
}

#header-logo img {
    height: 130px;
    margin-top: 10px;
}

/* header navigation */

#main-menu {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-menu-btn {
    display: none;
}

#main-menu-btn.menu-toggle-btn {
    width: 110px;
}

.main-menu-responsive {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.main-menu-responsive ul {
    padding: 20px 0;
    margin: 0;
    border: 0;
}

.main-menu-responsive li {
    display: inline;
    text-align: center;
    padding: 20px 7.5px;
    margin: 0;
    border: 0;
}

.main-menu-item {
    font-size: 1.25rem;
}

/* navigation dropdown menus */

.navbar-dropdown-btn {
    display: inline-block;
    color: #4d4d4d;
    padding: 0 10px;
}

.navbar-dropdown-btn.menu-toggle-btn-active {
    color: #8f897e;
}

.navbar-dropdown-menu-container {
    position: relative;
}

.navbar-dropdown-menu {
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    height: 0;
    width: 205px;
    overflow: hidden;
}

#navbar-info-menu {
    width: 275px;
}

.navbar-dropdown-menu ul {
    padding: 0 0 20px 0;
}

.navbar-dropdown-menu li {
    display: block;
    text-align: left;
    padding: 5px 10px 5px 20px;
}

.navbar-dropdown-item {
    font-size: 1.125rem;
}

.navbar-dropdown-open {
    height: auto;
}

/* active header navigation links */

.active-link {
    color: #8f897e !important;
}

/* -------- main page body -------- */

main {
    margin-top: 207px;
}

.anchor-section {
    scroll-margin-top: 207px;
}

/* page banners */

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
    margin: 0;
}

.jumbotron h1 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}

/* accordions */

.accordion a:focus {
    text-decoration: none !important;
}

/* generic section styles */

.bg-inishowen {
    background: url('../images/inishowen_outline_1.jpg') no-repeat center center / contain;    
}

/* ------------ footer ------------ */

footer {
    font-family: 'Roboto Condensed', sans-serif;
    color: #4d4d4d;
    background-color: #fff;
}

footer hr {
    background-color: #4d4d4d;
    width: 90%;
    margin: auto;
}

footer .affil-logo-img {
    width: 200px;
}

.footer-contact-social-links {
    color: #4d4d4d;
    font-size: 1.5rem;
    list-style-type: none;
    margin-bottom: 0;
    text-align: center;
}

.footer-contact-social-links .link-btn {
    font-size: 1.5rem;
}

.footer-contact-social-links li {
    padding: 1.5rem 0;
}

.footer-contact-social-links span {
    font-size: 1rem;
    font-weight: 500;
    display: block;
}

.footer-contact-social-links i, footer a {
    color: #4d4d4d;
}

@media(hover: hover) and (pointer: fine) {
    .footer-contact-social-links i:hover {
        color: #8f897e;
    }

    .footer-contact-social-links a:hover {
        text-decoration: none !important;
    }
}

#copyright-statement, #hwd-plug {
    font-weight: 500;
    text-align: center;
}

#copyright-statement {
    margin-top: 10px;
    font-size: 1rem;
}

#hwd-plug {
    padding: 5px 0 10px 0;
    font-size: 0.75rem;
}



            /************************************/
            /*                                  */
            /* --------- Popup modals --------- */
            /*                                  */
            /************************************/

/* general */

.aria-modal-label, .aria-modal-description {
    height: 0;
    overflow: hidden;
}

/* footer contact links */

.footer-contact-link-modal {
    height: 90vh;
}

.footer-contact-link-modal .modal-content {
    height: 100%;
    background-color: #4d4d4d;
    color: #fff;
}

.footer-contact-link-modal .close {
    color: #fff;
    font-size: 3rem;
}

.footer-contact-link-modal a {
    color: #fff;
    text-decoration: none !important;
}

.footer-contact-link-modal .modal-body-content {
    padding-bottom: 80px;
}

#modal-phone-no {
    font-size: 1.5rem;
}

/* about section modals */

.about-section-modal .close {
    font-size: 3rem;
}

.about-modal-img-wrapper img {
    width: 200px;
    float: left;
    margin: 5px;
}

.about-section-modal .btn-secondary {
    font-weight: bold;
    border-radius: 23px;
}



            /************************************/
            /*                                  */
            /* --------- Landing page --------- */
            /*                                  */
            /************************************/

/* general styles */

#landing-banner.banner-container {
    height: calc(100vh - 207px);
    background: url('../images/child-with-autism-living-fantasy-world_23-2151248912.jpg') no-repeat center center / cover;
}

/* Jumbotron */

#landing-banner .jumbotron {
    padding: 100px 0 0;
}



            /************************************/
            /*                                  */
            /* -------- Overview page --------- */
            /*                                  */
            /************************************/

/* general styles */

#overview-banner.banner-container {
    height: 50vh;
    background: url('../images/child-mom-kindergarten-gym_237566-5249.jpg') no-repeat center center / cover;
}

#overview-banner .jumbotron {
    width: 100vw;
    max-width: 1140px;
}

#overview-banner h1 {
    margin-bottom: 0.5rem;
}

/* FAQ section */

.faq-section {
    background-color: rgba(0,0,0,.1);
    padding-top: 10px;
}

#faq-accordion .card {
    background: transparent;
    border: 0;
}

#faq-accordion .card-header {
    background: transparent;
    border: 0;
}

#faq-accordion .card-body {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px 20px;
}

.faq-accordion-link {
    color: #8f897e !important;
    display: flex;
}

.faq-accordion-link i {
    align-self: center;
}

.faq-accordion-link.collapsed {
    color: #4d4d4d !important;
}

.faq-accordion-link.collapsed i {
    transform: scale(-1, -1);
}

@media(hover: hover) and (pointer: fine) {
    .faq-accordion-link:hover {
        color: #8f897e;
        text-decoration: none !important;
    }
}

#faq-accordion p {
    margin-bottom: 0.5rem;
}

#faq-accordion ul {
    list-style-type: initial;
    margin-bottom: 00.5rem;
}

.faq-answer-container {
    padding: 0 15px !important;
}



            /************************************/
            /*                                  */
            /* --------- Media queries -------- */
            /*                                  */
            /************************************/

/* ---------- for responsive design ----------- */

/* for medium-sized screens, up to 1200 pixels wide (matches Bootstrap's lg - xl breakpoint) */

@media screen and (max-width: 1200px) {

    /* general bootstrap override */

    .container {
        max-width: none;
        margin: auto;
        padding: 0 30px;
    }
}

/* for medium-sized screens, up to 768 pixels wide (matches Bootstrap's sm - md breakpoint) */

@media screen and (max-width: 768px) {

    /* main header */

    #main-header {
        justify-content: space-between;
    }

    /* header navigation menu */

    #main-menu-btn {
        display: flex;
    }
    
    .main-menu-responsive {
        left: auto;
        right: 0;
        /* width: 100%; */
        width: 320px;
        height: 0;
        border-radius: 0 0 5px 5px;
        /* background-color: rgba(0, 0, 0, 0.9); */
        overflow: hidden;
        transition: all 0.25s;
    }

    .main-menu-responsive ul {
        /* align-items: center; */
        padding: 5px 0 20px;
        margin-bottom: 0;
    }

    .main-menu-responsive li {
        text-align: left;
        display: block;
        margin-left: 50px;
        padding: 5px 0;
    }

    .main-menu-open {
        height: auto;
    }

    /* navigation dropdown menus */

    .navbar-dropdown-btn {
        padding: 0;
    }

    .navbar-dropdown-menu {
        position: relative;
        top: 0;
        width: 100% !important;
    }

    .navbar-dropdown-menu ul {
        padding: 0;
    }

    .navbar-dropdown-menu li {
        margin-left: 20px;
        padding: 2.5px 0;
    }

    /* main page body */

    main {
        margin-top: 140px;
    }
    
    .anchor-section {
        scroll-margin-top: 140px;
    }

    /* landing page */

    #landing-banner.banner-container {
        height: calc(100vh - 140px);
    }
}

/* for smaller-sized screens, up to 576 pixels wide (matches Bootstrap's xs - sm breakpoint) */

@media screen and (max-width: 576px) {

    /* header navigation menu */

    .main-menu-responsive {
        width: 100vw;
    }

    /* overview page */

    .faq-answer-content {
        padding: 0;
        margin-left: 0 !important;
    }
}

/* for extra-small screens, up to 430 pixels wide */

@media screen and (max-width: 430px) {

    /* popup modals */

    .about-modal-img-wrapper img {
        float: none;
        width: 100%;
    }
}